body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f4fd!important;
}

code {
  font-family: 'Nunito', sans-serif;
}
h2, h3, h4, h5, h6, p, a, li,span, th, td{
  font-family: 'Nunito', sans-serif !important;
}
h2, h3, h4, h5, h6, p, a, li, th, td{
  color: #324054;
}
a{
  text-decoration: none!important;
}
a:hover{
  text-decoration: none!important;
}
/* rgb(0, 158, 127) */
